<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <h1><%= subTitle %></h1>
    <% const formatter = new Intl.NumberFormat('ja-JP') %>
    <% if(mode === "selectAccessory"){ %>
      ここは装飾品屋だ．なにを買うかね？
      <ul>
      <%for(let i = 0;i < accessories.length; ++i){ %>
        <form action="" method="post">
          <% let input = '<input type="hidden" name="targetAccessory" value=' + '"'+i+'"' + '>' %>
            <%- input %>        
          <button type=submit>買う</button> <li> 名前:<%= accessories[i].name %> , 説明:<%= accessories[i].statement %>, 値段:<%= formatter.format(accessories[i].value) %></li>
        </form>
      <% } %>
      </ul>
    <% }else{ %>
      <%- content %>
    <% } %>
    <br><br>
    <a href="/status"><button class="btn-square">ステータス画面へ</button></a>
    <a href="/bank"><button class="btn-square">銀行へ</button></a>
    <a href="/weaponShop"><button class="btn-square">武器屋へ</button></a>
    <a href="/armorShop"><button class="btn-square">防具屋へ</button></a>
    <a href="/accessoryShop"><button class="btn-square">装飾品屋へ</button></a>
    <a href="/toolShop"><button class="btn-square">道具屋へ</button></a>  
  </body>
</html>
