<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <h1><%= subTitle %></h1>
    <% const formatter = new Intl.NumberFormat('ja-JP') %>
    <% if(mode === "selectArmor"){ %>
      なにを買うかね？
      <ul>
      <%for(let i = 0;i < armors.length; ++i){ %>
        <form action="" method="post">
          <% let input = '<input type="hidden" name="targetArmor" value=' + '"'+i+'"' + '>' %>
            <%- input %>        
          <button type=submit>買う</button> <li> 名前:<%= armors[i].name %> , 攻撃力:<%= formatter.format(armors[i].defence) %>, 値段:<%= formatter.format(armors[i].value) %></li>
        </form>
      <% } %>
      </ul>
    <% }else{ %>
      <%- content %>
    <% } %>
    
    <a href="/status"><button>ステータス画面へ</button></a>    
  </body>
</html>
