<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <h1><%= subTitle %></h1>
    <div wrapper>

      <% if(mode === "selectArts") { %>
        戦術を選んでください．
        現在の戦術: <%= setArts.name %>
        <form action="" method="POST">
        <% changeableArts.forEach(function(element){ %>
          <% let output = '<input type="radio" name="artsNumber" value="'+element.id + '">' %>
          <li><%-  output %> <%= element.name %>, <%= element.explain %></li>
        <% }); %>
        <button type="submit">戦術を変更する</button>
        </form>
      <% }else if(mode === "done"){ %>
          戦術を<%=setArts.name %>に変更しました！
      <% }else{ %>
        不正な選択です．
      <% }%>

      
      <br><br>
      <a href="/status"><button class="btn-square">ステータス画面へ</button></a>
    </div>
  </body>
</html>
