<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <h1><%= subTitle %></h1>
    <div wrapper>

      <% if(mode === "selectJob"){ %>
        <div>
        あなたが転職可能な職業は
        <div>
        <% changeableJobs.forEach(function(element){ %>
          <%= element.name %>,
        <% }); %>
        </div>
        です．
        <div>
        このうち，マスターしていない職業は
        <div>
        <% changeableAndNotYetMasterJobs.forEach(function(element){ %>
          [<%= element.name %>],
        <% }); %>
        </div>
        です．
        </div>
        転職先のジョブレベルが19以下の場合，HP以外の各ステータスが1割，カルマは2割減少します．
      <form action="" method="POST">
        <select name="jobNumber">
        <% changeableJobs.forEach(function(element){ %>
          <% let output='<option value="'+element.id+'">' + element.name + '</option>'%>
          <%- output %>
        <% }); %>
        </select>
      <button type="submit">転職する</button>
      </form>
      <% }else if(mode === "done"){ %>
        <%= jobElement.name %>に転職しました．
        <% } %>

    <a href="/status"><button>ステータス画面へ</button></a>
    <a href="/bank"><button>銀行へ</button></a>
    <a href="/weaponShop"><button>武器屋へ</button></a>
    <a href="/armorShop"><button>防具屋へ</button></a>
    <a href="/accessoryShop"><button>装飾品屋へ</button></a>
    <a href="/toolShop"><button>道具屋へ</button></a> 
    </div>
  </body>
</html>
