<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <h1><%= subTitle %></h1>
    <% if(isFinished === false){ %>
        武器一覧
      <ul>
      <%for(let i = 0;i < user.equipmentInventory.weapons.length; ++i){ %>
        <li>
        <form action="" method="post">
          <% let input = '<input type="hidden" name="targetWeapon" value=' + '"'+i+'"' + '>' %>
          <input type="hidden" name="mode" value="weapon">
            <%- input %>        
           <button type=submit>装備する</button> 
        </form>
        <form action="" method="post">
          <% input = '<input type="hidden" name="targetWeapon" value=' + '"'+i+'"' + '>' %>
          <input type="hidden" name="mode" value="weaponRenounce">
            <%- input %>        
           <button type=submit>捨てる</button> 
        </form>

        名前:<%= weapons[i].name %> , 攻撃力:<%= weapons[i].attack() %>, 値段:<%= weapons[i].value %></li>
      <% } %>
      </ul>
      防具一覧
      <ul>
        <%for(let i = 0;i < user.equipmentInventory.armors.length; ++i){ %>
          <li>
          <form action="" method="post">
            <% let input = '<input type="hidden" name="targetArmor" value=' + '"'+i+'"' + '>' %>
            <input type="hidden" name="mode" value="armor">
              <%- input %>        
             <button type=submit>装備する</button>
          </form>
          <form action="" method="post">
            <%input = '<input type="hidden" name="targetArmor" value=' + '"'+i+'"' + '>' %>
            <input type="hidden" name="mode" value="armorRenounce">
              <%- input %>        
             <button type=submit>捨てる</button>
          </form>
          <li>名前:<%= armors[i].name %> , 防御力:<%= armors[i].defence() %>, 値段:<%= armors[i].value %></li>
        <% } %>
        </ul>
        装飾品一覧
        <ul>
            <%for(let i = 0;i < user.equipmentInventory.accessories.length; ++i){ %>
              <li>
              <form action="" method="post">
                <% let input = '<input type="hidden" name="targetAccessory" value=' + '"'+i+'"' + '>' %>
                <input type="hidden" name="mode" value="accessory">
                  <%- input %>        
                   <button type=submit>装備する</button>
              </form>
              <form action="" method="post">
                <% input = '<input type="hidden" name="targetAccessory" value=' + '"'+i+'"' + '>' %>
                <input type="hidden" name="mode" value="accessoryRenounce">
                  <%- input %>        
                   <button type=submit>捨てる</button>
              </form>

              名前:<%= accessories[i].name %> ,値段:<%= accessories[i].value %>, テキスト:<%= accessories[i].statement %>
            </li>
            <% } %>
            </ul>
    <% }else{ %>
      <%- content %>
    <% } %>
    
    <br><br>
    <a href="/status"><button class="btn-square">ステータス画面へ</button></a>
    <a href="/bank"><button class="btn-square">銀行へ</button></a>
    <a href="/weaponShop"><button class="btn-square">武器屋へ</button></a>
    <a href="/armorShop"><button class="btn-square">防具屋へ</button></a>
    <a href="/accessoryShop"><button class="btn-square">装飾品屋へ</button></a>
    <a href="/toolShop"><button class="btn-square">道具屋へ</button></a>   
  </body>
</html>
