<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <h1><%= subTitle %></h1>
    <% const formatter = new Intl.NumberFormat('ja-JP') %>
    <% if(mode === "selectItem"){ %>
      買う
      <ul>
      <%for(let i = 0;i < items.length; ++i){ %>
        <form action="" method="post">
          <% let input = '<input type="hidden" name="mode" value="buy"><input type="hidden" name="targetItem" value=' + '"'+items[i].id+'"' + '>' %>
            <%- input %>        
           <li>通し番号:<%=items[i].id%>名前:<%= items[i].name %> , 効果:<%= items[i].statement %>, 購入価格:<%= formatter.format(items[i].value) %>所有数:<%=formatter.format(userItems[i].amount)%>個数:<input type="number" name="amount">  <button type=submit>個買う</button></li>
           
        </form>
      <% } %>
      </ul>
      売る

      <%userItems = userItems.filter((element,index)=>element.amount > 0);%>
      <%userItems.forEach((element,index)=>{%>
        <% let input = '<form action="" method="post"><input type="hidden" name="mode" value="sell"><input type="hidden" name="targetItem" value=' + '"'+element.id+'"' + '>' %>
        <%- input %>
        <li>通し番号:<%=element.id %>名前:<%=element.name %>,効果:<%=element.statement%>,買取価格:<%=formatter.format(Math.ceil(element.value/2))%>所有数:<%=element.amount%>個数:<input type="number" name="amount"> <button type=submit>個売る</button></li>
        </form>
        <%})%>
    <% }else{ %>
      <%- content %>
    <% } %>
    
    <a href="/status"><button>ステータス画面へ</button></a>
    <a href="/bank"><button>銀行へ</button></a>
    <a href="/weaponShop"><button>武器屋へ</button></a>
    <a href="/armorShop"><button>防具屋へ</button></a>
    <a href="/accessoryShop"><button>装飾品屋へ</button></a>
    <a href="/toolShop"><button>道具屋へ</button></a> 
  </body>
</html>
