<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script>
      window.onload = ()=>{
        window.setInterval(()=>{
          console.log("interval");
            if(parseInt(document.getElementById("stamina").textContent) < 600)
              document.getElementById("stamina").textContent = parseInt(document.getElementById("stamina").textContent) + 1;        
        },1000);

        console.log(document.getElementById("stamina"));
      }
    </script>
  </head>
  <body>
    <div class="wrapper">
    <h1><%= subTitle %></h1>    
    現在のチャンピオン:<%= champion.name %>さん
    HP: <%= champion.currentHP %>/<%=champion.maxHP %>
    <% let homepage = '<a href="'+ champion.homePageURL+'">' + champion.homePageName + '</a>'%>
    おすすめのHP: <%- homepage %>
    <div class="instant-status">
    <h3><%= user.name %>さんのステータス:</h3>
    <ul>  
      <li>HP:<%=user.currentHP %>/<%=user.maxHP %></li>
      <li>レベル: <%=user.level %></li>
      <li>経験値: <%= user.exp %>/<%= user.level*300 %></li>
      <li>所持金: <%= user.money %>C/1,000,000,000C</li>
      <li>スタイル: <%= job.name %></li>
      <li>スタイルレベル: <%= user.jobLevel %> </li>
      <li>スタミナ: <x id="stamina"><%= stamina %></x></li>
      <li>武器 <%=weapon.name %> 威力: <%= weapon.attack %></li>
      <li>防具 <%=armor.name %> 防御力: <%= armor.defence %></li>
      <li>装飾品 <%=accessory.name %></li>
    </ul>
    <a href="/changeArts"><button>戦術を変更する</button></a>
    <% if(champion.userId !== user.userId){ %>
    <form action="/vsChampion" method="post">
      <button type="submit">チャンピオンに挑む</button>
    </form>
    <% }else{ %>
      ※あなたがチャンピオンなので挑めません
    <% } %>
    <form action="" method="post">
      <button type="submit">格闘王への道</button>
    </form>
    </div>
    <div>
      <a href="/inn"><button>HPを回復する(有料)</button></a>
      <a href="/equipmentStorage"><button>装備品倉庫へ</button></a>
      <a href="/bank"><button>銀行へ</button></a>
    
      <form action="" method="post">
        <button type="submit">道具屋へ</button>
      </form>
      <a href="/weaponShop"><button>武器屋</button></a>
      <a href="/armorShop"><button>防具屋へ</button></a>
      <a href="/accessoryShop"><button>装飾品屋へ</button></a>
      <a href="/changeJob"><button>転職の祠へ</button></a>
      <a href="/status"><button>画面更新</button></a>
      <a href="/changeStatus"><button>ステータス変更画面へ</button></a>
    </div>
    <div>
      その辺を探索
      <form action="/vsMonster" method="post">
        <select name="difficulty">
          <option value="0">そのへんの森(弱い敵が出現)</option>
          <option value="1">沖合(それなりの敵が出現)</option>
          <option value="2">樹海(割と強い敵が出現)</option>
          <option value="3">魔の秘境(とても強い敵が出現)</option>
        </select>
        <button type="submit">挑む</button>
      </form>
    </div>
    <div>
      勝ち抜きボスバトル
      <form action="/legendPlace" method="post">
        <select name="difficulty">
          <option value="0">試しの洞窟</option>
          <option value="1">バーレル火山</option>
          <option value="2">VIPブリッヂ</option>
          <option value="3">次元のはざま</option>
        </select>
        <button type="submit">挑む</button>
      </form>
    </div>
    <div>
      修練場
      <form action="" method="post">
        <button type="submit">修練場へ挑む</button>
      </form>
    </div>
    </div>
  </body>
</html>
